@import url('https://fonts.cdnfonts.com/css/coolvetica-2');

:root {
  --bg: #0e212f;
  --bg-sidebar: #213642;
  --bg-button: #01e601;
  --text: #cdcec7;
}

/* slider tracker #4391e7 */
/* balance text #a7d5e5 */

body {
  font-family: "Coolvetica", sans-serif;
  font-weight: lighter;
  color: var(--text);
  background-color: var(--bg);
  padding-left: 200px;
  padding-right: 200px;
}

h1, h2, h3 {
  font-weight: lighter;
}

button {
  background-color: var(--bg-button);
  font-size: medium;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.home span {
  color: var(--bg-button);
  text-decoration: underline;
}

.images-container {
  display: flex;
  flex-direction: column;
}

.images {
  max-width: max-content;
  border: 2px solid var(--text);
  border-radius: 10px;
  box-shadow: 10px 10px black;
  margin: 10px;
}

.dice-container, .mines-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dice-sidebar, .mines-sidebar {
  background-color: var(--bg-sidebar);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.amount-multiplier {
  cursor: pointer;
  user-select: none;
  padding: 5px;
  background-color: lightgray;
  color: black;
  margin: 10px;
  border-radius: 5px;
  font-weight: lighter;
}

.dice-sidebar-amount, .mines-sidebar-amount {
  font-size: large;
  font-weight: bold;
}

.dice-sidebar input, .mines-sidebar input {
  width: 100px;
  height: 25px;
  margin: 10px;
  font-size: large;
}

.dice-sidebar button, .mines-sidebar button {
  width: 100%;
  margin-top: 20px;
}

.dice-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 400px;
}

.dice-game input {
  width: 500px;
  height: 50px;
  margin: 0;
  cursor: pointer;
  background: transparent;
}

.dice-game-stats {
  display: flex;
  font-size: large;
  flex-direction: row;
  justify-content: space-around;
}

.dice-game-result {
  font-size: x-large;
  text-align: center;
}

.dice-game-result-won {
  color: greenyellow;
}

.dice-game-result-lost {
  color: red;
}

.mines-sidebar-elements {
  display: flex;
  flex-direction: column;
}

.mines-sidebar-element:last-child {
  margin-top: 10px;
}

.mines-game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.mines-card {
  margin: 5px;
  box-shadow: 12px 12px black;
  background-color: var(--text);
  border-radius: 5px;
  cursor: pointer;
}

.mines-card-safe, .mines-card-bomb {
  width: 114px;
  height: 114px;
  border-radius: 5px;
}

.mines-card-bomb:active {
  background-color: red;
}

.mines-card-safe-clicked {
  width: 114px;
  height: 114px;
  border-radius: 5px;
  pointer-events: none;
  background-color: var(--bg-button);
}

.navbar {
  display: flex;
  flex-direction: row;
  font-size: large;
}

.navbar p{
  color: greenyellow;
  margin-right: 10px;
  text-decoration: underline;
}

.navbar p:active{
  color: #cdcec7;
  text-decoration: underline;
}

.how-to-play {
  cursor: pointer;
  text-align: right;
}

.how-to-play:hover {
  text-decoration: underline;
}

.how-to-play-dialog {
  max-width: 480px;
  background-color: lightgray;
  opacity: 0.9;
  border-radius: 10px;
  font-size: large;
  text-align: center;
}

.how-to-play-dialog-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  font-size: x-large;
}

@media screen and (max-width: 700px) {
  body {
    padding-left: 50px;
    padding-right: 50px;
  }
  .dice-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .dice-game input {
    width: 350px;
  }
  .dice-game-stats {
    display: flex;
    flex-direction: column;
  }
  .mines-card-safe, .mines-card-bomb, .mines-card-safe-clicked {
    width: 80px;
    height: 80px;
  }
  .how-to-play-dialog {
    width: 300px;
  }
  .how-to-play-dialog img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 1210px) {
  .mines-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .mines-sidebar {
    margin-top: 20px;
  }
}

@media screen and (min-width: 970px) {
  .home {
    display: flex;
    flex-direction: column;
  }
  .images-container {
    align-items: center;
  }
}